profile = "laptop"
theme = "tokyonight-day"
terminal_font_family = "JetBrains Mono"
terminal_font_size = 12
name = ""
email = ""
signingkey = ""

[features]
zsh = true
nvim = true
tmux = true
gui = true
secrets = true
