sourceDir = "{{ .chezmoi.homeDir }}/.dotfiles"

[merge]
    command = "vimdiff"

{{ $age_identity := promptString "age_identity" "~/.config/chezmoi/key.txt" }}
{{ $age_recipient := promptString "age_recipient" "" }}

{{ if ne $age_identity "" }}
encryption = "age"
[age]
    identity = "{{ $age_identity }}"
{{- if ne $age_recipient "" }}
    recipient = "{{ $age_recipient }}"
{{- end }}
{{ end }}

[data]
profile = "{{ promptString "profile" "laptop" }}"
theme = "{{ promptString "theme" "tokyonight-night" }}"
git_name = "{{ promptString "git_name" "Your Name" }}"
git_email = "{{ promptString "git_email" "you@example.com" }}"
git_signingkey = "{{ promptString "git_signingkey" "~/.ssh/id_ed25519" }}"
git_signingformat = "{{ promptString "git_signingformat" "ssh" }}"
age_identity = "{{ $age_identity }}"
age_recipient = "{{ $age_recipient }}"
