profile = "laptop"
theme = "tokyonight-night"
terminal_font_family = "JetBrainsMono Nerd Font"
terminal_font_size = 12
name = ""
email = ""
signingkey = ""

[features]
zsh = true
nvim = true
tmux = true
gui = true
secrets = true
