use flake

# Add dotfiles local bin to path
PATH_add "$HOME/.local/bin"
PATH_add "$HOME/bin"

# Automatically start pueue daemon if it's not running
if command -v pueued >/dev/null && ! pueue status >/dev/null 2>&1; then
    echo "💡 Starting pueue daemon in background..."
    pueued -d
fi
