#
# Main entry file needs lf only line endings so that bash shell doesn't barf.
#
src/bin/index.js text eol=lf
#
# Avoid crlf translation noise on npm written files
#
package.json text eol=lf
package-lock.json text eol=lf

