# 🅳🅾🆃🅵🅸🅻🅴🆂 (v0.2.452) - https://dotfiles.io
# Copyright (c) Sebastien Rousseau 2022. All rights reserved
# License: MIT
@sebastienrousseau:registry=https://npm.pkg.github.com
# @sebastienrousseau:registry=https://registry.npmjs.org

