# 🅳🅾🆃🅵🅸🅻🅴🆂 (v0.2.471) - <https://dotfiles.io>
# Made with ♥ in London, UK by Sebastien Rousseau
# Copyright (c) 2015-2025. All rights reserved
# License: MIT

; registry=https://npm.pkg.github.com/sebastienrousseau
always-auth=true
registry=https://registry.npmjs.org
@sebastienrousseau:registry=https://registry.npmjs.org # Switch to npm when needed
