# 🅳🅾🆃🅵🅸🅻🅴🆂 (v0.2.462) - https://dotfiles.io
# Made with ♥ in London, UK by @sebastienrousseau
# Copyright (c) 2022. All rights reserved
# License: MIT
registry=https://npm.pkg.github.com/sebastienrousseau
@sebastienrousseau:registry=https://registry.npmjs.org # Switch to npm when needed
