# Optional: Allow passwordless package updates (commented by default)
#
# %admin ALL=(root) NOPASSWD: /usr/bin/apt-get update, /usr/bin/apt-get upgrade
# %admin ALL=(root) NOPASSWD: /usr/bin/apt-get install
#
# %admin ALL=(root) NOPASSWD: /opt/homebrew/bin/brew update, /opt/homebrew/bin/brew upgrade
