# SSH Hardening Defaults
# Include site-specific overrides
Include ~/.ssh/config.d/*.conf

Host *
  ServerAliveInterval 60
  ServerAliveCountMax 3
  HashKnownHosts yes
  VisualHostKey yes
  IdentitiesOnly yes
  AddKeysToAgent yes
  KbdInteractiveAuthentication no
  PasswordAuthentication no
  PreferredAuthentications publickey
  PubkeyAuthentication yes
  Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com
  KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
  HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com,rsa-sha2-512,rsa-sha2-256
