# SSH Config - Managed by Chezmoi

Host *
    IdentityAgent {{ if eq .chezmoi.os "darwin" }}"~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"{{ else }}"~/.1password/agent.sock"{{ end }}
    ForwardAgent yes
    AddKeysToAgent yes
    Compression yes
    ServerAliveInterval 60
    ServerAliveCountMax 2
