{{- $fontFamily := default "JetBrainsMono Nerd Font" .terminal_font_family -}}
{{- $fontSize := default 12 .terminal_font_size -}}

font_family {{ $fontFamily }}
font_size {{ $fontSize }}

window_padding_width 16
background_opacity 0.9

{{- $t := index .themes (default "catppuccin-mocha" .theme) -}}
{{- if not $t -}}{{- $t = index .themes "catppuccin-mocha" -}}{{- end }}
background {{ $t.term.bg }}
foreground {{ $t.term.fg }}
selection_background {{ $t.term.sel_bg }}
selection_foreground {{ $t.term.sel_fg }}
cursor {{ $t.term.cursor }}

color0  {{ $t.term.c0 }}
color1  {{ $t.term.c1 }}
color2  {{ $t.term.c2 }}
color3  {{ $t.term.c3 }}
color4  {{ $t.term.c4 }}
color5  {{ $t.term.c5 }}
color6  {{ $t.term.c6 }}
color7  {{ $t.term.c7 }}
color8  {{ $t.term.c8 }}
color9  {{ $t.term.c9 }}
color10 {{ $t.term.c10 }}
color11 {{ $t.term.c11 }}
color12 {{ $t.term.c12 }}
color13 {{ $t.term.c13 }}
color14 {{ $t.term.c14 }}
color15 {{ $t.term.c15 }}
