profile = "laptop"
host_id = "mac-m1"
host_class = "macos"

[features]
gui = true
linux_desktop = false
niri = false
waybar = false
fuzzel = false
mako = false
foot = false
kanshi = false
touch = false
t2 = false
surface = false
