html
  height: 100%
  height: auto !important
  min-height: 100%
  text-rendering: optimizeLegibility

body
  font-family 'Open Sans', sans-serif
  font-size 1.0618rem  !important
  line-height: 2.62rem !important
  margin: 0
  padding: 0

hr
  background: transparent
  border-top: 2px solid #ebebeb
  border: 0
  clear: both
  height: 1px
  margin-bottom: 20px
  margin-top: 20px
  margin: auto
  width: 100%


.home .hero img
  height: auto!important
  max-width: 500px !important
  min-width: 300px !important
  width: 100% !important

.center
  margin 0 auto;
  max-width: 500px
  padding: 0 20px;
  text-align: center;
  width: 80%

.hero
  margin: 0 auto
  width: 100%

.action-button, .download-button
  background-color: #FF00FF !important
  border-radius: 6px !important
  border: #E000E0 !important
  color: #FFFFFF !important
  cursor: pointer!important
  display: inline-block !important
  padding: 10px 20px !important
  text-align: center !important
  text-decoration: none !important
  &:hover
    background-color: #E000E0 !important
    border: #D000D0 !important
    color: #FFFFFF !important

@font-face
  font-family: 'Open Sans',sans-serif
  font-style: normal
  font-weight: 400

code
  direction: ltr
  page-break-inside: avoid
  text-align: left
  white-space: pre-wrap
  word-wrap: break-word

a, .title
  font-size: 1.0618rem !important

p
  line-height: 25.89px !important

em, i
  font-style: italic
  line-height: 25.89px !important
