@charset "UTF-8"

html
  height: 100%
  height: auto !important
  min-height: 100%
  text-rendering: optimizeLegibility

body
  font-family 'Open Sans', sans-serif
  font-size $gr-fsb  !important
  font-weight: 400
  line-height: $gr-lh !important
  margin: 0
  padding: 0
  word-wrap: break-word

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
caption,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video
  box-sizing: border-box

.home
  padding: $gr-lhl $gr-fsb 0 $gr-fsb !important

.home .hero img
  height: auto!important
  max-width: 500px !important
  min-width: 300px !important
  width: 100% !important

.center
  margin 0 auto;
  max-width: 500px
  padding: 0 20px;
  text-align: center;
  width: 80%

.hero
  margin: 0 auto
  width: 100%

.navbar
  border-bottom: $gr-fss solid var(--borderColor)

.navbar, .links, .nav-links, .navbar .links
  background: var(--bgColor) !important

.action-button, .download-button
  background-color: var(--btnColor) !important
  border-radius: 6px !important
  border: var(--btnBorderColor) !important
  color: #FFF !important
  cursor: pointer!important
  display: inline-block !important
  padding: 10px 20px !important
  text-align: center !important
  text-decoration: none !important
  &:hover
    background-color: var(--btnBorderColor) !important
    border: var(--btnBorderDarkColor) !important
    color: #FFF !important

@font-face
  font-family: 'Open Sans',sans-serif
  font-style: normal
  font-weight: 400

code
  direction: ltr
  page-break-inside: avoid
  text-align: left
  white-space: pre-wrap
  word-wrap: break-word

a, .title
  font-size: $gr-fsb !important

p
  line-height: $gr-lhl !important

code, kbd, pre, amp
  margin: round($gr rem, 1) 0  !important

em, i
  font-style: italic
  line-height: $gr-lhl !important

.home .hero .description
  font-weight: 500
  line-height: $gr-lhl !important
  max-width: none !important

h1, h2, h3, h4, h5, h6
  font-weight: 500
  line-height: $gr-lhl !important

#main-title
  line-height: ($gr-lhl * 1.618) !important
