  // Font Family
  $font = 'Open Sans'

  // Golden Ratios
  $gr         = 1.0618 // The $gr (Golden Ratio) number, reduced to 1.62 due to the number-max-precision rule is used to produce a scale of numbers that is proportionally related.
  $gr-large   = round(1 / $gr, 2) // 0.62 ratio value
  $gr-small   = round(1 - $gr-large, 2) // 0.38 ratio value
  $gr-medium  = round((($gr-large + $gr-small) / 2), 2) // 0.5 ratio value

  // Golden Ratio Font Sizes (base,large,small,medium)
  $gr-fsb     = round($gr, 2)rem // 1.62rem - the $gr-fsb (Golden Ratio Font Size Base) is the scale’s root number.
  $gr-fsl     = round(2 * $gr-fsb * $gr-large, 2)rem //  2.01rem
  $gr-fsm     = round(2 * $gr-fsb * $gr-medium, 2)rem // 1.62rem
  $gr-fss     = round(2 * $gr-fsb * $gr-small, 2)rem //  1.23rem

  // Golden Ratio Headers (h1, h2, h3, h4, h5, h6)
  $gr-h1      = round($gr-fsb * ($gr ** 6), 2)rem // 29.07rem
  $gr-h2      = round($gr-fsb * ($gr ** 5), 2)rem // 17.97rem
  $gr-h3      = round($gr-fsb * ($gr ** 4), 2)rem // 11.1rem
  $gr-h4      = round($gr-fsb * ($gr ** 3), 2)rem // 6.86rem
  $gr-h5      = round($gr-fsb * ($gr ** 2), 2)rem // 4.24rem
  $gr-h6      = round($gr-fsb * ($gr ** 1), 2)rem // 2.62rem

  // Golden Ratio Line Heights
  $gr-lh      = round($gr-fsb * ($gr ** 1), 2)rem // 2.62rem
  $gr-lhl     = round($gr-fsl * ($gr ** 1), 2)rem // 3.25rem
  $gr-lhm     = round($gr-fsm * ($gr ** 1), 2)rem // 2.62rem
  $gr-lhs     = round($gr-fss * ($gr ** 1), 2)rem // 1.99rem

  // Golden Ratio Line Height Headers
  $gr-lh-h1   = round($gr-fsb * ($gr ** 2), 2)rem // 4.24rem
  $gr-lh-h2   = round($gr-fsb * ($gr ** 3), 2)rem // 6.86rem
  $gr-lh-h3   = round($gr-fsb * ($gr ** 4), 2)rem // 11.1rem
  $gr-lh-h4   = round($gr-fsb * ($gr ** 5), 2)rem // 17.97rem
  $gr-lh-h5   = round($gr-fsb * ($gr ** 6), 2)rem // 29.07rem
  $gr-lh-h6   = round($gr-fsb * ($gr ** 7), 2)rem // 47.04rem

  // Link Colors
  :root
    --btnColor: #F0F
    --btnBorderColor : #E0E
    --btnDarkColor : #E000E0
    --btnBorderDarkColor : #D000D0

  // Colors
  $accentColor = #F0F
  $accentDarkColor = #0F0
  $textColor = #000
  $borderColor = #EEE
  $codeBgLightColor = #000
  $preTextLightColor = #FFF
