[user]
    name = Sebastien Rousseau
    email = seb@example.com
    signingkey = ~/.ssh/id_ed25519.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[core]
    editor = vim
    excludesfile = ~/.config/git/ignore

[init]
    defaultBranch = main
