# Topgrade configuration (managed by chezmoi)

[misc]
{{- if eq .chezmoi.os "darwin" }}
disable = ["vim", "node", "containers", "flatpak", "snap"]
{{- else }}
disable = ["vim", "node", "containers", "firmware"]
{{- end }}
pre_sudo = true
assume_yes = true
cleanup = true
skip_notify = true

[commands]
{{- if eq .chezmoi.os "linux" }}
"Open WebUI" = "sudo /usr/local/bin/update-open-webui.sh"
{{- end }}

{{- if eq .chezmoi.os "linux" }}

[linux]
apt_arguments = "--autoremove"
{{- end }}
