local wezterm = require 'wezterm'

local config = {}
if wezterm.config_builder then
  config = wezterm.config_builder()
end

{{- $theme := default "tokyonight-night" .theme -}}
{{- $fontFamily := default "JetBrains Mono" .terminal_font_family -}}
{{- $fontSize := default 12 .terminal_font_size -}}

local theme = "{{ $theme }}"

config.font = wezterm.font_with_fallback({
  "{{ $fontFamily }}",
  "JetBrains Mono",
  "SF Mono",
  "Roboto Mono",
})
config.font_size = {{ $fontSize }}

config.window_padding = {
  left = 16,
  right = 16,
  top = 12,
  bottom = 12,
}

config.enable_tab_bar = true
config.use_fancy_tab_bar = false
config.hide_tab_bar_if_only_one_tab = true
config.window_decorations = "RESIZE"

config.colors = {
{{- if eq $theme "tokyonight-night" }}
  foreground = "#c0caf5",
  background = "#1a1b26",
  cursor_bg = "#c0caf5",
  cursor_fg = "#1a1b26",
  selection_bg = "#414868",
  selection_fg = "#c0caf5",
  ansi = { "#15161e", "#f7768e", "#9ece6a", "#e0af68", "#7aa2f7", "#bb9af7", "#7dcfff", "#a9b1d6" },
  brights = { "#5f6686", "#ff899d", "#9fe044", "#faba4a", "#8db0ff", "#c7a9ff", "#a4daff", "#c0caf5" },
{{- else if eq $theme "tokyonight-storm" }}
  foreground = "#c0caf5",
  background = "#24283b",
  cursor_bg = "#c0caf5",
  cursor_fg = "#24283b",
  selection_bg = "#414868",
  selection_fg = "#c0caf5",
  ansi = { "#1d202f", "#f7768e", "#9ece6a", "#e0af68", "#7aa2f7", "#bb9af7", "#7dcfff", "#a9b1d6" },
  brights = { "#6b7292", "#ff899d", "#9fe044", "#faba4a", "#8db0ff", "#c7a9ff", "#a4daff", "#c0caf5" },
{{- else if eq $theme "tokyonight-moon" }}
  foreground = "#c8d3f5",
  background = "#222436",
  cursor_bg = "#c8d3f5",
  cursor_fg = "#222436",
  selection_bg = "#444a73",
  selection_fg = "#c8d3f5",
  ansi = { "#1b1d2b", "#ff757f", "#c3e88d", "#ffc777", "#82aaff", "#c099ff", "#86e1fc", "#828bb8" },
  brights = { "#666c95", "#ff8d94", "#c7fb6d", "#ffd8ab", "#9ab8ff", "#caabff", "#b2ebff", "#c8d3f5" },
{{- else if eq $theme "tokyonight-day" }}
  foreground = "#3760bf",
  background = "#e1e2e7",
  cursor_bg = "#3760bf",
  cursor_fg = "#e1e2e7",
  selection_bg = "#a1a6c5",
  selection_fg = "#3760bf",
  ansi = { "#b4b5b9", "#f52a65", "#587539", "#8c6c3e", "#2e7de9", "#9854f1", "#007197", "#6172b0" },
  brights = { "#797e9d", "#ff4774", "#5c8524", "#a27629", "#358aff", "#a463ff", "#007ea8", "#3760bf" },
{{- else if eq $theme "dracula" }}
  foreground = "#f8f8f2",
  background = "#282a36",
  cursor_bg = "#f8f8f2",
  cursor_fg = "#282a36",
  selection_bg = "#6272a4",
  selection_fg = "#f8f8f2",
  ansi = { "#21222c", "#ff5555", "#50fa7b", "#f1fa8c", "#bd93f9", "#ff79c6", "#8be9fd", "#f8f8f2" },
  brights = { "#6272a4", "#ff6e6e", "#69ff94", "#ffffa5", "#d6acff", "#ff92df", "#a4ffff", "#ffffff" },
{{- else if eq $theme "gruvbox-dark" }}
  foreground = "#d5c4a1",
  background = "#282828",
  cursor_bg = "#d5c4a1",
  cursor_fg = "#282828",
  selection_bg = "#665c54",
  selection_fg = "#d5c4a1",
  ansi = { "#282828", "#fb4934", "#b8bb26", "#fabd2f", "#83a598", "#d3869b", "#8ec07c", "#d5c4a1" },
  brights = { "#665c54", "#fb4934", "#b8bb26", "#fabd2f", "#83a598", "#d3869b", "#8ec07c", "#fbf1c7" },
{{- else if eq $theme "gruvbox-light" }}
  foreground = "#504945",
  background = "#fbf1c7",
  cursor_bg = "#504945",
  cursor_fg = "#fbf1c7",
  selection_bg = "#bdae93",
  selection_fg = "#504945",
  ansi = { "#fbf1c7", "#9d0006", "#79740e", "#b57614", "#076678", "#8f3f71", "#427b58", "#504945" },
  brights = { "#bdae93", "#9d0006", "#79740e", "#b57614", "#076678", "#8f3f71", "#427b58", "#282828" },
{{- else if eq $theme "nord" }}
  foreground = "#d8dee9",
  background = "#2e3440",
  cursor_bg = "#d8dee9",
  cursor_fg = "#2e3440",
  selection_bg = "#4c566a",
  selection_fg = "#d8dee9",
  ansi = { "#3b4252", "#bf616a", "#a3be8c", "#ebcb8b", "#81a1c1", "#b48ead", "#88c0d0", "#e5e9f0" },
  brights = { "#4c566a", "#bf616a", "#a3be8c", "#ebcb8b", "#81a1c1", "#b48ead", "#8fbcbb", "#eceff4" },
{{- else if eq $theme "onedark" }}
  foreground = "#abb2bf",
  background = "#282c34",
  cursor_bg = "#abb2bf",
  cursor_fg = "#282c34",
  selection_bg = "#545862",
  selection_fg = "#abb2bf",
  ansi = { "#282c34", "#e06c75", "#98c379", "#e5c07b", "#61afef", "#c678dd", "#56b6c2", "#abb2bf" },
  brights = { "#727680", "#e06c75", "#98c379", "#e5c07b", "#61afef", "#c678dd", "#56b6c2", "#c8ccd4" },
{{- else if eq $theme "onelight" }}
  foreground = "#383a42",
  background = "#fafafa",
  cursor_bg = "#383a42",
  cursor_fg = "#fafafa",
  selection_bg = "#a0a1a7",
  selection_fg = "#383a42",
  ansi = { "#fafafa", "#ca1243", "#50a14f", "#c18401", "#4078f2", "#a626a4", "#0184bc", "#383a42" },
  brights = { "#a0a1a7", "#ca1243", "#50a14f", "#c18401", "#4078f2", "#a626a4", "#0184bc", "#090a0b" },
{{- else if eq $theme "solarized-dark" }}
  foreground = "#93a1a1",
  background = "#002b36",
  cursor_bg = "#93a1a1",
  cursor_fg = "#002b36",
  selection_bg = "#657b83",
  selection_fg = "#93a1a1",
  ansi = { "#002b36", "#dc322f", "#859900", "#b58900", "#268bd2", "#6c71c4", "#2aa198", "#93a1a1" },
  brights = { "#657b83", "#dc322f", "#859900", "#b58900", "#268bd2", "#6c71c4", "#2aa198", "#fdf6e3" },
{{- else if eq $theme "solarized-light" }}
  foreground = "#586e75",
  background = "#fdf6e3",
  cursor_bg = "#586e75",
  cursor_fg = "#fdf6e3",
  selection_bg = "#839496",
  selection_fg = "#586e75",
  ansi = { "#fdf6e3", "#dc322f", "#859900", "#b58900", "#268bd2", "#6c71c4", "#2aa198", "#586e75" },
  brights = { "#839496", "#dc322f", "#859900", "#b58900", "#268bd2", "#6c71c4", "#2aa198", "#002b36" },
{{- else if eq $theme "rose-pine" }}
  foreground = "#e0def4",
  background = "#191724",
  cursor_bg = "#e0def4",
  cursor_fg = "#191724",
  selection_bg = "#2a273f",
  selection_fg = "#e0def4",
  ansi = { "#26233a", "#eb6f92", "#9ccfd8", "#f6c177", "#31748f", "#c4a7e7", "#9ccfd8", "#e0def4" },
  brights = { "#6e6a86", "#eb6f92", "#9ccfd8", "#f6c177", "#31748f", "#c4a7e7", "#9ccfd8", "#e0def4" },
{{- else if eq $theme "rose-pine-dawn" }}
  foreground = "#575279",
  background = "#faf4ed",
  cursor_bg = "#575279",
  cursor_fg = "#faf4ed",
  selection_bg = "#f2e9e1",
  selection_fg = "#575279",
  ansi = { "#f2e9e1", "#b4637a", "#286983", "#ea9d34", "#56949f", "#907aa9", "#d7827e", "#575279" },
  brights = { "#9893a5", "#b4637a", "#286983", "#ea9d34", "#56949f", "#907aa9", "#d7827e", "#575279" },
{{- else if eq $theme "rose-pine-moon" }}
  foreground = "#e0def4",
  background = "#232136",
  cursor_bg = "#e0def4",
  cursor_fg = "#232136",
  selection_bg = "#393552",
  selection_fg = "#e0def4",
  ansi = { "#393552", "#eb6f92", "#9ccfd8", "#f6c177", "#3e8fb0", "#c4a7e7", "#9ccfd8", "#e0def4" },
  brights = { "#6e6a86", "#eb6f92", "#9ccfd8", "#f6c177", "#3e8fb0", "#c4a7e7", "#9ccfd8", "#e0def4" },
{{- else if eq $theme "everforest-dark" }}
  foreground = "#d3c6aa",
  background = "#2f383e",
  cursor_bg = "#d3c6aa",
  cursor_fg = "#2f383e",
  selection_bg = "#3c474d",
  selection_fg = "#d3c6aa",
  ansi = { "#4b565c", "#e67e80", "#a7c080", "#dbbc7f", "#7fbbb3", "#d699b6", "#83c092", "#d3c6aa" },
  brights = { "#778288", "#e67e80", "#a7c080", "#dbbc7f", "#7fbbb3", "#d699b6", "#83c092", "#d3c6aa" },
{{- else if eq $theme "everforest-light" }}
  foreground = "#5c6a72",
  background = "#fdf6e3",
  cursor_bg = "#5c6a72",
  cursor_fg = "#fdf6e3",
  selection_bg = "#e6e2cc",
  selection_fg = "#5c6a72",
  ansi = { "#829181", "#f85552", "#8da101", "#dfa000", "#3a94c5", "#df69ba", "#35a77c", "#5c6a72" },
  brights = { "#829181", "#f85552", "#8da101", "#dfa000", "#3a94c5", "#df69ba", "#35a77c", "#5c6a72" },
{{- else if eq $theme "kanagawa-wave" }}
  foreground = "#dcd7ba",
  background = "#1f1f28",
  cursor_bg = "#dcd7ba",
  cursor_fg = "#1f1f28",
  selection_bg = "#2d4f67",
  selection_fg = "#dcd7ba",
  ansi = { "#1f1f28", "#c34043", "#76946a", "#c0a36e", "#7e9cd8", "#957fb8", "#6a9589", "#dcd7ba" },
  brights = { "#6a6a77", "#c34043", "#76946a", "#c0a36e", "#7e9cd8", "#957fb8", "#6a9589", "#dcd7ba" },
{{- else if eq $theme "kanagawa-dragon" }}
  foreground = "#c8c093",
  background = "#181616",
  cursor_bg = "#c8c093",
  cursor_fg = "#181616",
  selection_bg = "#223249",
  selection_fg = "#c8c093",
  ansi = { "#181616", "#c4746e", "#87a987", "#c4b28a", "#8ba4b0", "#a292a3", "#8ea4a2", "#c8c093" },
  brights = { "#656462", "#c4746e", "#87a987", "#c4b28a", "#8ba4b0", "#a292a3", "#8ea4a2", "#c8c093" },
{{- else if eq $theme "kanagawa-lotus" }}
  foreground = "#545464",
  background = "#f2ecbc",
  cursor_bg = "#545464",
  cursor_fg = "#f2ecbc",
  selection_bg = "#e2e0d1",
  selection_fg = "#545464",
  ansi = { "#e2e0d1", "#c84053", "#6f894e", "#77713f", "#4d699b", "#b35b79", "#597b75", "#545464" },
  brights = { "#9f9997", "#c84053", "#6f894e", "#77713f", "#4d699b", "#b35b79", "#597b75", "#545464" },
{{- else if eq $theme "catppuccin-latte" }}
  foreground = "#4c4f69",
  background = "#eff1f5",
  cursor_bg = "#4c4f69",
  cursor_fg = "#eff1f5",
  selection_bg = "#6c6f85",
  selection_fg = "#4c4f69",
  ansi = { "#5c5f77", "#d20f39", "#40a02b", "#df8e1d", "#1e66f5", "#ea76cb", "#179299", "#acb0be" },
  brights = { "#6c6f85", "#d20f39", "#40a02b", "#df8e1d", "#1e66f5", "#ea76cb", "#179299", "#bcc0cc" },
{{- else }}
  foreground = "#cdd6f4",
  background = "#1e1e2e",
  cursor_bg = "#cdd6f4",
  cursor_fg = "#1e1e2e",
  selection_bg = "#585b70",
  selection_fg = "#cdd6f4",
  ansi = { "#45475a", "#f38ba8", "#a6e3a1", "#f9e2af", "#89b4fa", "#f5c2e7", "#94e2d5", "#bac2de" },
  brights = { "#585b70", "#f38ba8", "#a6e3a1", "#f9e2af", "#89b4fa", "#f5c2e7", "#94e2d5", "#a6adc8" },
{{- end }}
}

return config
