local wezterm = require 'wezterm'

local config = {}
if wezterm.config_builder then
  config = wezterm.config_builder()
end

{{- $fontFamily := default "JetBrainsMono Nerd Font" .terminal_font_family -}}
{{- $fontSize := default 12 .terminal_font_size -}}
{{- $t := index .themes (default "catppuccin-mocha" .theme) -}}
{{- if not $t -}}{{- $t = index .themes "catppuccin-mocha" -}}{{- end }}

config.font = wezterm.font_with_fallback({
  "{{ $fontFamily }}",
  "JetBrains Mono",
  "SF Mono",
  "Roboto Mono",
})
config.font_size = {{ $fontSize }}

config.window_padding = {
  left = 16,
  right = 16,
  top = 12,
  bottom = 12,
}

config.enable_tab_bar = true
config.use_fancy_tab_bar = false
config.hide_tab_bar_if_only_one_tab = true
config.window_decorations = "RESIZE"

config.colors = {
  foreground = "{{ $t.term.fg }}",
  background = "{{ $t.term.bg }}",
  cursor_bg = "{{ $t.term.cursor }}",
  cursor_fg = "{{ $t.term.cursor_text }}",
  selection_bg = "{{ $t.term.sel_bg }}",
  selection_fg = "{{ $t.term.sel_fg }}",
  ansi = { "{{ $t.term.c0 }}", "{{ $t.term.c1 }}", "{{ $t.term.c2 }}", "{{ $t.term.c3 }}", "{{ $t.term.c4 }}", "{{ $t.term.c5 }}", "{{ $t.term.c6 }}", "{{ $t.term.c7 }}" },
  brights = { "{{ $t.term.c8 }}", "{{ $t.term.c9 }}", "{{ $t.term.c10 }}", "{{ $t.term.c11 }}", "{{ $t.term.c12 }}", "{{ $t.term.c13 }}", "{{ $t.term.c14 }}", "{{ $t.term.c15 }}" },
}

return config
