{{- $t := index .themes (default "macos-monterey-dark" .theme) -}}
{{- if not $t -}}{{- $t = index .themes "macos-monterey-dark" -}}{{- end -}}
{{- $is_dark := eq $t.mode "dark" -}}

[Settings]
gtk-application-prefer-dark-theme={{ if $is_dark }}1{{ else }}0{{ end }}
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size=24
gtk-font-name=Inter 10
gtk-icon-theme-name={{ $t.app.gtk_icon }}
gtk-theme-name={{ $t.app.gtk_theme }}
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
gtk-enable-animations=1
gtk-primary-button-warps-slider=1
gtk-decoration-layout=close,minimize,maximize: