{{- /* GTK-4.0 Settings with Catppuccin theme support */ -}}
{{- $theme := .theme -}}
{{- $is_dark := false -}}
{{- if or (hasSuffix "-night" $theme) (hasSuffix "-storm" $theme) (hasSuffix "-moon" $theme) (hasSuffix "-mocha" $theme) (hasSuffix "-frappe" $theme) (hasSuffix "-macchiato" $theme) (hasSuffix "-dark" $theme) (hasSuffix "-wave" $theme) (hasSuffix "-dragon" $theme) (eq $theme "dracula") (eq $theme "nord") (eq $theme "onedark") -}}
{{- $is_dark = true -}}
{{- end -}}

[Settings]
gtk-application-prefer-dark-theme={{ if $is_dark }}1{{ else }}0{{ end }}
gtk-cursor-theme-name=Adwaita
gtk-cursor-theme-size=24
gtk-font-name=Inter 10
gtk-icon-theme-name={{ if $is_dark }}Papirus-Dark{{ else }}Papirus{{ end }}
gtk-theme-name={{ if hasPrefix "catppuccin-" $theme }}{{ if eq $theme "catppuccin-latte" }}catppuccin-latte-blue-standard+default{{ else if eq $theme "catppuccin-frappe" }}catppuccin-frappe-blue-standard+default{{ else if eq $theme "catppuccin-macchiato" }}catppuccin-macchiato-blue-standard+default{{ else }}catppuccin-mocha-blue-standard+default{{ end }}{{ else }}{{ if $is_dark }}Adwaita-dark{{ else }}Adwaita{{ end }}{{ end }}
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
gtk-enable-animations=1
gtk-primary-button-warps-slider=1
gtk-decoration-layout=close,minimize,maximize: