{{- $t := index .themes (default "catppuccin-mocha" .theme) -}}
{{- if not $t -}}{{- $t = index .themes "catppuccin-mocha" -}}{{- end -}}
{{- $is_dark := eq $t.mode "dark" -}}
{{- $gtk_theme := $t.app.gtk_theme -}}
{{- $icon_theme := $t.app.gtk_icon -}}
{{- $cursor_theme := "Adwaita" -}}

[Settings]
gtk-theme-name={{ $gtk_theme }}
gtk-icon-theme-name={{ $icon_theme }}
gtk-font-name=Inter 10
gtk-cursor-theme-name={{ $cursor_theme }}
gtk-cursor-theme-size=24
gtk-toolbar-style=GTK_TOOLBAR_BOTH
gtk-toolbar-icon-size=GTK_ICON_SIZE_LARGE_TOOLBAR
gtk-button-images=1
gtk-menu-images=1
gtk-enable-event-sounds=1
gtk-enable-input-feedback-sounds=0
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintfull
gtk-xft-rgba=rgb
gtk-application-prefer-dark-theme={{ if $is_dark }}1{{ else }}0{{ end }}
gtk-enable-animations=1
gtk-primary-button-warps-slider=1
gtk-decoration-layout=close,minimize,maximize: