{{- $theme := default "tokyonight-night" .theme -}}
{{- $fontFamily := default "JetBrains Mono" .terminal_font_family -}}
{{- $fontSize := default 12 .terminal_font_size -}}

[window]
padding = { x = 16, y = 12 }
opacity = 0.9

[font]
size = {{ $fontSize }}
normal = { family = "{{ $fontFamily }}" }

[colors.primary]
{{- if eq $theme "tokyonight-night" }}
background = "#1a1b26"
foreground = "#c0caf5"
{{- else if eq $theme "tokyonight-storm" }}
background = "#24283b"
foreground = "#c0caf5"
{{- else if eq $theme "tokyonight-moon" }}
background = "#222436"
foreground = "#c8d3f5"
{{- else if eq $theme "tokyonight-day" }}
background = "#e1e2e7"
foreground = "#3760bf"
{{- else if eq $theme "dracula" }}
background = "#282a36"
foreground = "#f8f8f2"
{{- else if eq $theme "gruvbox-dark" }}
background = "#282828"
foreground = "#d5c4a1"
{{- else if eq $theme "gruvbox-light" }}
background = "#fbf1c7"
foreground = "#504945"
{{- else if eq $theme "nord" }}
background = "#2e3440"
foreground = "#d8dee9"
{{- else if eq $theme "onedark" }}
background = "#282c34"
foreground = "#abb2bf"
{{- else if eq $theme "onelight" }}
background = "#fafafa"
foreground = "#383a42"
{{- else if eq $theme "solarized-dark" }}
background = "#002b36"
foreground = "#93a1a1"
{{- else if eq $theme "solarized-light" }}
background = "#fdf6e3"
foreground = "#586e75"
{{- else if eq $theme "rose-pine" }}
background = "#191724"
foreground = "#e0def4"
{{- else if eq $theme "rose-pine-dawn" }}
background = "#faf4ed"
foreground = "#575279"
{{- else if eq $theme "rose-pine-moon" }}
background = "#232136"
foreground = "#e0def4"
{{- else if eq $theme "everforest-dark" }}
background = "#2f383e"
foreground = "#d3c6aa"
{{- else if eq $theme "everforest-light" }}
background = "#fdf6e3"
foreground = "#5c6a72"
{{- else if eq $theme "kanagawa-wave" }}
background = "#1f1f28"
foreground = "#dcd7ba"
{{- else if eq $theme "kanagawa-dragon" }}
background = "#181616"
foreground = "#c8c093"
{{- else if eq $theme "kanagawa-lotus" }}
background = "#f2ecbc"
foreground = "#545464"
{{- else if eq $theme "catppuccin-latte" }}
background = "#eff1f5"
foreground = "#4c4f69"
{{- else }}
background = "#1e1e2e"
foreground = "#cdd6f4"
{{- end }}

[colors.normal]
{{- if eq $theme "tokyonight-night" }}
black = "#15161e"
red = "#f7768e"
green = "#9ece6a"
yellow = "#e0af68"
blue = "#7aa2f7"
magenta = "#bb9af7"
cyan = "#7dcfff"
white = "#a9b1d6"
{{- else if eq $theme "tokyonight-storm" }}
black = "#1d202f"
red = "#f7768e"
green = "#9ece6a"
yellow = "#e0af68"
blue = "#7aa2f7"
magenta = "#bb9af7"
cyan = "#7dcfff"
white = "#a9b1d6"
{{- else if eq $theme "tokyonight-moon" }}
black = "#1b1d2b"
red = "#ff757f"
green = "#c3e88d"
yellow = "#ffc777"
blue = "#82aaff"
magenta = "#c099ff"
cyan = "#86e1fc"
white = "#828bb8"
{{- else if eq $theme "tokyonight-day" }}
black = "#b4b5b9"
red = "#f52a65"
green = "#587539"
yellow = "#8c6c3e"
blue = "#2e7de9"
magenta = "#9854f1"
cyan = "#007197"
white = "#6172b0"
{{- else if eq $theme "dracula" }}
black = "#21222c"
red = "#ff5555"
green = "#50fa7b"
yellow = "#f1fa8c"
blue = "#bd93f9"
magenta = "#ff79c6"
cyan = "#8be9fd"
white = "#f8f8f2"
{{- else if eq $theme "gruvbox-dark" }}
black = "#282828"
red = "#fb4934"
green = "#b8bb26"
yellow = "#fabd2f"
blue = "#83a598"
magenta = "#d3869b"
cyan = "#8ec07c"
white = "#d5c4a1"
{{- else if eq $theme "gruvbox-light" }}
black = "#fbf1c7"
red = "#9d0006"
green = "#79740e"
yellow = "#b57614"
blue = "#076678"
magenta = "#8f3f71"
cyan = "#427b58"
white = "#504945"
{{- else if eq $theme "nord" }}
black = "#3b4252"
red = "#bf616a"
green = "#a3be8c"
yellow = "#ebcb8b"
blue = "#81a1c1"
magenta = "#b48ead"
cyan = "#88c0d0"
white = "#e5e9f0"
{{- else if eq $theme "onedark" }}
black = "#282c34"
red = "#e06c75"
green = "#98c379"
yellow = "#e5c07b"
blue = "#61afef"
magenta = "#c678dd"
cyan = "#56b6c2"
white = "#abb2bf"
{{- else if eq $theme "onelight" }}
black = "#fafafa"
red = "#ca1243"
green = "#50a14f"
yellow = "#c18401"
blue = "#4078f2"
magenta = "#a626a4"
cyan = "#0184bc"
white = "#383a42"
{{- else if eq $theme "solarized-dark" }}
black = "#002b36"
red = "#dc322f"
green = "#859900"
yellow = "#b58900"
blue = "#268bd2"
magenta = "#6c71c4"
cyan = "#2aa198"
white = "#93a1a1"
{{- else if eq $theme "solarized-light" }}
black = "#fdf6e3"
red = "#dc322f"
green = "#859900"
yellow = "#b58900"
blue = "#268bd2"
magenta = "#6c71c4"
cyan = "#2aa198"
white = "#586e75"
{{- else if eq $theme "rose-pine" }}
black = "#26233a"
red = "#eb6f92"
green = "#9ccfd8"
yellow = "#f6c177"
blue = "#31748f"
magenta = "#c4a7e7"
cyan = "#9ccfd8"
white = "#e0def4"
{{- else if eq $theme "rose-pine-dawn" }}
black = "#f2e9e1"
red = "#b4637a"
green = "#286983"
yellow = "#ea9d34"
blue = "#56949f"
magenta = "#907aa9"
cyan = "#d7827e"
white = "#575279"
{{- else if eq $theme "rose-pine-moon" }}
black = "#393552"
red = "#eb6f92"
green = "#9ccfd8"
yellow = "#f6c177"
blue = "#3e8fb0"
magenta = "#c4a7e7"
cyan = "#9ccfd8"
white = "#e0def4"
{{- else if eq $theme "everforest-dark" }}
black = "#4b565c"
red = "#e67e80"
green = "#a7c080"
yellow = "#dbbc7f"
blue = "#7fbbb3"
magenta = "#d699b6"
cyan = "#83c092"
white = "#d3c6aa"
{{- else if eq $theme "everforest-light" }}
black = "#829181"
red = "#f85552"
green = "#8da101"
yellow = "#dfa000"
blue = "#3a94c5"
magenta = "#df69ba"
cyan = "#35a77c"
white = "#5c6a72"
{{- else if eq $theme "kanagawa-wave" }}
black = "#1f1f28"
red = "#c34043"
green = "#76946a"
yellow = "#c0a36e"
blue = "#7e9cd8"
magenta = "#957fb8"
cyan = "#6a9589"
white = "#dcd7ba"
{{- else if eq $theme "kanagawa-dragon" }}
black = "#181616"
red = "#c4746e"
green = "#87a987"
yellow = "#c4b28a"
blue = "#8ba4b0"
magenta = "#a292a3"
cyan = "#8ea4a2"
white = "#c8c093"
{{- else if eq $theme "kanagawa-lotus" }}
black = "#e2e0d1"
red = "#c84053"
green = "#6f894e"
yellow = "#77713f"
blue = "#4d699b"
magenta = "#b35b79"
cyan = "#597b75"
white = "#545464"
{{- else if eq $theme "catppuccin-latte" }}
black = "#5c5f77"
red = "#d20f39"
green = "#40a02b"
yellow = "#df8e1d"
blue = "#1e66f5"
magenta = "#ea76cb"
cyan = "#179299"
white = "#acb0be"
{{- else }}
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"
{{- end }}

[colors.bright]
# Note: bright black (color8) values adjusted for WCAG 3:1 minimum contrast
{{- if eq $theme "tokyonight-night" }}
black = "#5f6686"
red = "#ff899d"
green = "#9fe044"
yellow = "#faba4a"
blue = "#8db0ff"
magenta = "#c7a9ff"
cyan = "#a4daff"
white = "#c0caf5"
{{- else if eq $theme "tokyonight-storm" }}
black = "#6b7292"
red = "#ff899d"
green = "#9fe044"
yellow = "#faba4a"
blue = "#8db0ff"
magenta = "#c7a9ff"
cyan = "#a4daff"
white = "#c0caf5"
{{- else if eq $theme "tokyonight-moon" }}
black = "#666c95"
red = "#ff8d94"
green = "#c7fb6d"
yellow = "#ffd8ab"
blue = "#9ab8ff"
magenta = "#caabff"
cyan = "#b2ebff"
white = "#c8d3f5"
{{- else if eq $theme "tokyonight-day" }}
black = "#797e9d"
red = "#ff4774"
green = "#5c8524"
yellow = "#a27629"
blue = "#358aff"
magenta = "#a463ff"
cyan = "#007ea8"
white = "#3760bf"
{{- else if eq $theme "dracula" }}
black = "#6272a4"
red = "#ff6e6e"
green = "#69ff94"
yellow = "#ffffa5"
blue = "#d6acff"
magenta = "#ff92df"
cyan = "#a4ffff"
white = "#ffffff"
{{- else if eq $theme "gruvbox-dark" }}
black = "#665c54"
red = "#fb4934"
green = "#b8bb26"
yellow = "#fabd2f"
blue = "#83a598"
magenta = "#d3869b"
cyan = "#8ec07c"
white = "#fbf1c7"
{{- else if eq $theme "gruvbox-light" }}
black = "#bdae93"
red = "#9d0006"
green = "#79740e"
yellow = "#b57614"
blue = "#076678"
magenta = "#8f3f71"
cyan = "#427b58"
white = "#282828"
{{- else if eq $theme "nord" }}
black = "#4c566a"
red = "#bf616a"
green = "#a3be8c"
yellow = "#ebcb8b"
blue = "#81a1c1"
magenta = "#b48ead"
cyan = "#8fbcbb"
white = "#eceff4"
{{- else if eq $theme "onedark" }}
black = "#727680"
red = "#e06c75"
green = "#98c379"
yellow = "#e5c07b"
blue = "#61afef"
magenta = "#c678dd"
cyan = "#56b6c2"
white = "#c8ccd4"
{{- else if eq $theme "onelight" }}
black = "#a0a1a7"
red = "#ca1243"
green = "#50a14f"
yellow = "#c18401"
blue = "#4078f2"
magenta = "#a626a4"
cyan = "#0184bc"
white = "#090a0b"
{{- else if eq $theme "solarized-dark" }}
black = "#657b83"
red = "#dc322f"
green = "#859900"
yellow = "#b58900"
blue = "#268bd2"
magenta = "#6c71c4"
cyan = "#2aa198"
white = "#fdf6e3"
{{- else if eq $theme "solarized-light" }}
black = "#839496"
red = "#dc322f"
green = "#859900"
yellow = "#b58900"
blue = "#268bd2"
magenta = "#6c71c4"
cyan = "#2aa198"
white = "#002b36"
{{- else if eq $theme "rose-pine" }}
black = "#6e6a86"
red = "#eb6f92"
green = "#9ccfd8"
yellow = "#f6c177"
blue = "#31748f"
magenta = "#c4a7e7"
cyan = "#9ccfd8"
white = "#e0def4"
{{- else if eq $theme "rose-pine-dawn" }}
black = "#9893a5"
red = "#b4637a"
green = "#286983"
yellow = "#ea9d34"
blue = "#56949f"
magenta = "#907aa9"
cyan = "#d7827e"
white = "#575279"
{{- else if eq $theme "rose-pine-moon" }}
black = "#6e6a86"
red = "#eb6f92"
green = "#9ccfd8"
yellow = "#f6c177"
blue = "#3e8fb0"
magenta = "#c4a7e7"
cyan = "#9ccfd8"
white = "#e0def4"
{{- else if eq $theme "everforest-dark" }}
black = "#778288"
red = "#e67e80"
green = "#a7c080"
yellow = "#dbbc7f"
blue = "#7fbbb3"
magenta = "#d699b6"
cyan = "#83c092"
white = "#d3c6aa"
{{- else if eq $theme "everforest-light" }}
black = "#829181"
red = "#f85552"
green = "#8da101"
yellow = "#dfa000"
blue = "#3a94c5"
magenta = "#df69ba"
cyan = "#35a77c"
white = "#5c6a72"
{{- else if eq $theme "kanagawa-wave" }}
black = "#6a6a77"
red = "#c34043"
green = "#76946a"
yellow = "#c0a36e"
blue = "#7e9cd8"
magenta = "#957fb8"
cyan = "#6a9589"
white = "#dcd7ba"
{{- else if eq $theme "kanagawa-dragon" }}
black = "#656462"
red = "#c4746e"
green = "#87a987"
yellow = "#c4b28a"
blue = "#8ba4b0"
magenta = "#a292a3"
cyan = "#8ea4a2"
white = "#c8c093"
{{- else if eq $theme "kanagawa-lotus" }}
black = "#e2e0d1"
red = "#c84053"
green = "#6f894e"
yellow = "#77713f"
blue = "#4d699b"
magenta = "#b35b79"
cyan = "#597b75"
white = "#545464"
{{- else if eq $theme "catppuccin-latte" }}
black = "#6c6f85"
red = "#d20f39"
green = "#40a02b"
yellow = "#df8e1d"
blue = "#1e66f5"
magenta = "#ea76cb"
cyan = "#179299"
white = "#bcc0cc"
{{- else }}
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"
{{- end }}
