{{- $fontFamily := default "JetBrainsMono Nerd Font" .terminal_font_family -}}
{{- $fontSize := default 12 .terminal_font_size -}}
{{- $t := index .themes (default "catppuccin-mocha" .theme) -}}
{{- if not $t -}}{{- $t = index .themes "catppuccin-mocha" -}}{{- end }}
[window]
padding = { x = 16, y = 12 }
opacity = 0.9

[font]
size = {{ $fontSize }}
normal = { family = "{{ $fontFamily }}" }

[colors.primary]
background = "{{ $t.term.bg }}"
foreground = "{{ $t.term.fg }}"

[colors.normal]
black = "{{ $t.term.c0 }}"
red = "{{ $t.term.c1 }}"
green = "{{ $t.term.c2 }}"
yellow = "{{ $t.term.c3 }}"
blue = "{{ $t.term.c4 }}"
magenta = "{{ $t.term.c5 }}"
cyan = "{{ $t.term.c6 }}"
white = "{{ $t.term.c7 }}"

[colors.bright]
black = "{{ $t.term.c8 }}"
red = "{{ $t.term.c9 }}"
green = "{{ $t.term.c10 }}"
yellow = "{{ $t.term.c11 }}"
blue = "{{ $t.term.c12 }}"
magenta = "{{ $t.term.c13 }}"
cyan = "{{ $t.term.c14 }}"
white = "{{ $t.term.c15 }}"
