# Environment and core variables
export HOSTNAME="$(hostname)"
export INPUTRC="${HOME}/.inputrc"
export OS_ARCH="$(uname -m)"
export OS_NAME="$(uname)"
export OS_VERSION="$(uname -r)"
export SSL_CERT_FILE="${HOME}/.local/share/cacert.pem"
export USER_LANGUAGE="en_GB.UTF-8"
export ARCHFLAGS="-arch ${OS_ARCH}"
export DOTFILES_VERSION='0.2.472'
export DOTFILES="${HOME}/.dotfiles/lib"
export LANG="${USER_LANGUAGE}"
export LANGUAGE="${USER_LANGUAGE}"
export LC_ALL="${USER_LANGUAGE}"
export LC_CTYPE="${USER_LANGUAGE}"
export TERM="xterm-256color"
