# Terminal bell (sound + visual)

: ${DOTFILES_BELL_SOUND:=1}
: ${DOTFILES_BELL_VISUAL:=1}

if [[ "$DOTFILES_BELL_SOUND" == "1" ]]; then
  unsetopt NO_BEEP
  setopt BEEP
else
  setopt NO_BEEP
fi

if [[ "$DOTFILES_BELL_VISUAL" == "1" ]]; then
  setopt VISUAL_BELL
else
  unsetopt VISUAL_BELL
fi
