name: Dotfiles CI

on:
  push:
    branches:
      - master
      - v0.2.471
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Chezmoi
        uses: chezmoi/chezmoi-action@v1
        with:
          version: latest

      - name: Initialize Chezmoi
        run: chezmoi init

      - name: Verify Config (Dry Run)
        run: chezmoi apply --verbose --dry-run
